/* RMIT University Vietnam
Course: COSC2430 Web Programming
Semester: 2023A
Assessment: Assignment 1
Author: Truong Loc Thien
ID: s3924695
Acknowledgement: Acknowledge the resources that you use here. */


body{
    background-color: #DDFFBB;
}

.logo{
    width: 170px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C7E9B0;
    color: #fff;
    height: 60px;
    padding: 0 20px;

}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
    font-size: 18px;
} 

.navbar a {
    color: #eae6e6;
    text-decoration: none;
} 

.mobile-nav-icon {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    font-size: 20px;
    background-color: #c7e9b0;
    display: none;
}





/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0; 
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(153, 174, 17);
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #B3C99C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media (max-width: 960px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 20px;
    }

    .navbar ul {
        flex-direction: column;
        margin-top: 20px;
    }

    .navbar li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 20px;
    }

    .navbar {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    
    }

    .mobile-nav-icon:hover+.navbar {
        display: block;
    }

    .navbar:hover {
        display: block;
    }
  }

.Category1{
    margin-bottom: 20px;
    background-color: #A4BC92;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}



.fontcategory{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
    background-color:#A4BC92 ;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}


.book{
    width: 250px;
    border: 3px;
    border-color: #DDFFBB;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    border-style: solid;
    background-color: #ffffff;
}

h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    white-space: pre;
}



.linktext{
    width: fit-content;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-decoration: none;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
}


.linkimg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  

.bookname{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.bookname{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    word-wrap: break-word;
    font-size: 20px;

}


/* Responsive 1-column Layout */
@media only screen and (max-width: 960px) {
	.container {
		flex-direction: column;
        padding: 0px 30px;
	}
	
	.product {
		width: 100%;
		margin-bottom: 40px;
	}
}

/* Navfotter */

footer{
    background-color: #A4BC92  ;
}

.navbarf {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    height: 60px;
    padding: 0 20px;

}

.navbarf ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-right: 20px;
    font-size: 18px;
} 

/* .navbarf a {
    color: #eae6e6;
    text-decoration: none;
} */

.logof{
    display: flex;
    width: 60px;
    display: flex;
    
}

@media (max-width:960px) {
    .navbarf {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 5px 20px;
        
    }
    
    .navbarf ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-direction: column
    }
}